.ui-page .ui-footer {
    box-sizing: border-box;
}
.ui-controlgroup a.ui-btn {
    display: block;
    margin: 8px;
}
.ui-content-full {
    padding: 0;
    position: absolute !important;
    /*margin-top: 42px !important;*/
    right: 0;
    /*margin-bottom: 52px !important;*/
    left: 0 !important;
    margin: 0;
    max-height: 100%;
}
.ui-footer-full {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
}
#tagDiv {
    position: relative;
    text-align: center;
    word-wrap: break-word;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
}
#tag {
    margin: 0 auto;
    position: relative;
    font-size: 3em;
    margin-bottom: 4%;
}
.ui-header-top {
    position: absolute;
    background-color: black;
    height: 20px;
    width: 100%;
    top:0;
    z-index: 1000;
}
.ui-header-ipod {
    top: 20px;
}
[data-dialog='true'] {
    margin-top: 25px;
}
#loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
